@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb:  linear-gradient(180deg, #25232c 0%, #5f55a5 100%);;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 background: var(--foreground-rgb);
 background-repeat: no-repeat;
 background-position: center;
 object-fit: cover;
 height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
